@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

.card {
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-left: 25px;
    margin-bottom: 15px;
    
}

.card-title {
    font-family: 'Trispace', sans-serif;
    font-size:1.5em;
}

a:link, a:visited {
    color: rgb(245, 243, 243);
}

#imgIcon {
    width: 128px;
    height: a
}

thead {
    background-color: white;
    color: black;
}

.elementImg {
    height: 64px;
    width: 64px;
}