@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

.card {
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-left: 25px;
    margin-bottom: 15px;
    
}

.nom-planet {
    font-family: 'Trispace', sans-serif;
    font-size:1.5em;
}